{% extends 'base.html' %}
{% block body_block %}
<h2>Change Password</h2>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Change Password</button>
</form>

{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% if user.farmer %}
    <a href="{% url 'farmer_dashboard' %}" class="btn btn-secondary mt-3">Back to Dashboard</a>
{% elif user.customer %}
    <a href="{% url 'customer_dashboard' %}" class="btn btn-secondary mt-3">Back to Dashboard</a>
{% else %}
    <a href="{% url 'admin_dashboard' %}" class="btn btn-secondary mt-3">Back to Dashboard</a>
{% endif %}
{% endblock %}
