{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<!--<h1>Search Results for "{{ query }}"</h1>
{% if products %}
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">${{ product.price }}</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p>No products found.</p>
{% endif %}-->
    <section class="pb-5">
      <div class="container-lg">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header d-flex flex-wrap justify-content-between my-4">
                    <h2 class="section-title">Search Results for "{{ query }}"</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
            {% if products %}
                <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5">
                    {% for product in products %}
                    <div class="col">
                        <div class="product-item">
                            <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">${{ product.price }}</p>
                                <a href="#" class="btn btn-primary">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No products found.</p>
            {% endif %}
                <!-- / product-grid -->
            </div>
        </div>
    </div>
    </section>
{% endblock %}

