{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<h2>Update Your Profile</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Update Profile</button>
</form>

{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<a href="{% url 'farmer_dashboard' %}" class="btn btn-secondary mt-3">Back to Dashboard</a>
{% endblock %}
